


          <div id="text">
                <h1><strong>Bem Vindos</strong></h1>
                <p><strong>Alías, Bem vindo coisa nenhuma. Esse site não é pra vocês deem o fora!</strong></p>
                <p>Se vocês clicaram em login nada vai acontecer a não ser eu poder usar a conta de vocês para alguma cooisa, então não seja estúpido e não faça o login nesse site ¬¬</p>
                <p>Na verdade se clicarem em login a foto de vocês vai aparecer ali do lado. E? ... Só... ¬¬</p>
                <h1>Piada
                </h1>
                <p>Dois camaradas estão caçando. Um deles cai no chão. O outro voa para o celular e liga para um hospital. Explica para a telefonista: “Ele está morto. Que é que eu faço?”</p>

                <p>A moça do hospital: “Primeiro, certifique-se de que está morto mesmo.” Ouvem-se dois estampidos. Volta o primeiro caçador ao telefone: “Tudo bem. Agora, eu faço o quê?”</p>
          </div>
  