


          <div id="text">
                <h1><strong>Bem Vindos</strong></h1>
                <p><strong>Alías, Bem vindo coisa nenhuma. Esse site não é pra vocês deem o fora!</strong></p>
                <p>Se vocês clicaram em login nada vai acontecer a não ser eu poder usar a conta de vocês para alguma cooisa, então não seja estúpido e não faça o login nesse site ¬¬</p>
                <p>Na verdade se clicarem em login a foto de vocês vai aparecer ali do lado. E? ... Só... ¬¬</p>
                <h1>Piada
                </h1>
                <p>Dois camaradas estão caçando. Um deles cai no chão. O outro voa para o celular e liga para um hospital. Explica para a telefonista: “Ele está morto. Que é que eu faço?”</p>

                <p>A moça do hospital: “Primeiro, certifique-se de que está morto mesmo.” Ouvem-se dois estampidos. Volta o primeiro caçador ao telefone: “Tudo bem. Agora, eu faço o quê?”</p>
                <h1>Provérbios</h1>
                <ul>
                  <li>"Não basta dirigir-se ao rio com a intenção de pescar peixes; é preciso levar também a rede."
</li>
<li>"Se você quer manter limpa a sua cidade, comece varrendo diante de sua casa."
</li>
<li>Temos UMA boca e DOIS ouvidos mas jamais nos comportamos proporcionalmente.
</li>
<li>Caia a faca no melão ou o melão na faca, o melão sofre...
</li>
<li>Quando um homem obtém poder até suas galinhas e cachorros sobem aos céus.
</li>
<li>"O cão não ladra por valentia e sim por medo."
</li>
<li>"A gente todos os dias arruma os cabelos: por que não o coração?"
</li>
<li>"Não há que ser forte. Há que ser flexível."
</li>
<li>"Jamais se desespere em meio as sombrias aflições de sua vida, pois das nuvens mais negras cai água límpida e fecunda."
</li>
<li>"Longa viagem começa por um passo."
</li>
<li>"As aves se dispõe a morrer pelo alimento, mas os homens pelo dinheiro"
</li>
<li>"O amor é como a lua, se não cresce, míngua"
</li>
<li>"Pinte bambus quando estiver com raiva;orquídeas quando estiver feliz"
</li>
<li>"Quando bem alimentada e aquecida, a pessoa volta seus pensamentos para excessos e desejos carnais"
</li>
<li>"Quando o céu joga uma tâmara, abra a boca"
</li>
<li>"Não se salta um precipício em dois lances"
</li>
<li>"Dê um peixe a um homem faminto e você o alimentará por um dia. Ensine-o a pescar, e você o estará alimentando pelo resto da vida"
</li>
<li>"Há três coisas que nunca voltam atrás: a flecha lançada, a palavra pronunciada e a oportunidade perdida"
</li>
<li>"Se alguém está tão cansado que não possa te dar um sorriso, deixa-lhe o teu"
</li>
<li>A mais alta das torres começa no solo
</li>
<li>As lágrimas dos bons caem por terra, mas vão para o céu, para o seio da divindade.
</li>
<li>Antes de começar o trabalho de mudar o mundo, dê três voltas dentro de sua casa
</li>
<li>Se você faz projetos para um ano, plante arroz;
</li>
<li>Se você faz projetos para dez anos, plante uma árvore;
</li>
<li>Se você faz projetos para cem anos, eduque seus filhos;
</li>
<li>Se você faz projetos para mil anos, cultive a vida interior.
</li>
                </ul>
          </div>
  