<div class="text">
  <h1>Contas logadas</h1>
  <br /><br /><br />

  <table>
    <tr>
      <th>Login</th>
      <th>Ação</th>
    </tr>
    <tr><td></td><td></td></tr>
    <% @users.each do |user| %>
      <tr>
        <td><%=h user.login %></td>
        <td><%= link_to 'Excluir', user, :confirm => 'certeza?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <br />
</div>