<div id="text">
  <h1>Enviar Tweets</h1>

  <% form_tag "/postar"  do -%>
    <% 5.times do %>
      <div><%= text_area_tag "tweet[]","",:cols=>50 %></div>
    <% end %>
    <div><%= submit_tag "Enviar Tweet com todos" %></div>
  <% end %>

  <h1>Seguir Promotores</h1>
  <% form_tag "/seguir"  do -%>
    <% 6.times do %>
      <%= text_field_tag "nick[]" %>
    <% end %>


    <div><%= submit_tag "Seguir com todos" %></div>
  <% end %>



</div>