<div class="text">
  <h1>Tweets enviados</h1>
  <br /><br /><br />

  <table>
    <tr>
      <th>Login</th>
      <th>Resposta</th>
    </tr>
    <tr><td></td><td></td></tr>
    <% @global_result.each_with_index do |results,i| %>
      <tr>
        <td>Mensagem <%=h i+1 %></td>
        <td></td>
      </tr>
      <% results.each do |login,resposta| %>
      <tr>
        <td><%= login %></td>
        <td><%= resposta %></td>
      </tr>
      <% end %>
    <% end %>
  </table>

  <br />
</div>